@{
    ViewData["Title"] = "Home Page";
}
<fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
    <legend>Http请求</legend>
    <div>
       @Html.ActionLink("Http请求", "HttpIndex", "Http")
    </div>
</fieldset>